[Unit]
Description=Algo service

[Service]
User=bn
WorkingDirectory=/home/bn/algo_integration
ExecStart=/usr/bin/python3.8 /home/bn/algo_integration/algo.py
Restart=always

[Install]
WantedBy=multi-user.target
