[Unit]
Description=Bastille Display Integration - Configuration UI
After=network.target
PartOf=bastille_display_integration.service

[Service]
User=bn
WorkingDirectory=/home/bn/bastille_display_integration
ExecStart=/usr/bin/python3 /home/bn/bastille_display_integration/config_ui.py
Restart=on-failure

[Install]
WantedBy=bastille_display_integration.service
