[Unit]
Description=Bastille Display Integration Service
Wants=bastille_config_ui.service
After=network.target

[Service]
User=bn
WorkingDirectory=/home/bn/bastille_display_integration
ExecStart=/usr/bin/python3 /home/bn/bastille_display_integration/main.py
Restart=always

[Install]
WantedBy=multi-user.target
